<br>
<h4 class="center">{{ 'site.company.contacts.office' | translate }}</h4>
<div class="fr">
  <div style="width: 50%">
    <!--    <div id="adress_yamaps" style="margin: 20px 20px 20px 20px"></div>-->

<!--    <ya-map [latitude]="nCoord" [longitude]="eCoord">-->
<!--      <ya-marker [latitude]="55.847"-->
<!--                 [longitude]="38.6"-->
<!--                 [balloonContentHeader]=[balloonHeader]-->
<!--                 [balloonContentBody]=[balloonBody]-->
<!--                 [balloonContentFooter]=[balloonFooter]>-->
<!--      </ya-marker>-->
<!--    </ya-map>-->

<!--    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17989.69338876133!2d37.334547997525114!3d55.69400039215303!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54e301da4ae69%3A0x27e1ef135ea4ed00!2z0JjQvdC90L7QstCw0YbQuNC-0L3QvdGL0Lkg0YbQtdC90YLRgCDQodC60L7Qu9C60L7QstC-LCDQnNC-0YHQutC-0LLRgdC60LDRjyDQvtCx0Lsu!5e0!3m2!1sru!2sru!4v1558972312166!5m2!1sru!2sru"-->
<!--            style="margin-left: 20px"-->
<!--            width="90%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>-->

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2248.646195603365!2d37.34291561600204!3d55.69513870390526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54e2e1185898f%3A0x20203a01e03ef49c!2z0KLQldCl0J3QntCf0JDQoNCa!5e0!3m2!1sru!2sru!4v1558972571057!5m2!1sru!2sru"
            style="margin-left: 20px"
            width="90%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>

  </div>
  <div style="width: 50%">
    <div class="fr">
      <p><b>{{ 'site.company.contacts.address' | translate }}</b></p>
      <p style="margin-left: 20px">{{'site.company.contacts.addressName' | translate }}</p>
    </div>
    <div class="fr">
      <p><b>{{ 'site.company.contacts.manager' | translate }}</b></p>
      <p style="margin-left: 20px">{{'site.company.contacts.managerName' | translate }}</p>
    </div>
    <div class="fr">
      <p><b>{{ 'site.company.contacts.phone' | translate }}</b></p>
      <p style="margin-left: 20px">{{'site.company.contacts.phoneName' | translate }}</p>
    </div>
    <div class="fr">
      <p><b>{{ 'site.company.contacts.email' | translate }}</b></p>
      <p style="margin-left: 20px">{{'site.company.contacts.emailName' | translate }}</p>
    </div>
  </div>
</div>
<br>
